# ignore dependencies
node_modules/

# ignore credentials
.env

#ignore the application logs
logs/

#ignore the built appliction files
dist/

#ignore responseHistory
backend/responseHistory/

#ignore the demo video directory
videos/

#Ignore the files for opening the project in a VS Code dev container
.devcontainer/
